@model GamesDetailsListModel

@{
	ViewData["Title"] = "LevelUp Game Store | Details | " + @Model.Name;
	var genres = Model.Genres;
	var genreNames = genres.Select(x => x.GenreName).ToList();
}

<h1 class="text-white" style="margin-left:150px">@Model.Name</h1>
<div style="margin: 25px 150px 50px; border:white; border-width:1.5px; border-style:solid;" class="bg-dark">

	<div class="row col-12 mt-2">
		<div class="col-md-8">
			<div class="row">
				<img src=@Model.ImageUrl alt="game picture" style="width: 100%; height: auto">
			</div>
		</div>

		<div class="col-md-4">
			<section class="mb-5">
				<h1 class="text-white">
					@Model.Name
				</h1>
			</section>

			<form method="get" class="mb-3">
				@if (User.IsInRole("DataManager"))
				{
					<a class="w-100 btn btn-lg btn-warning mb-3" asp-area="Manager" asp-controller="Store" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
					<a class="w-100 btn btn-lg btn-danger" asp-area="Manager" asp-controller="Store" asp-action="Remove" asp-route-id="@Model.Id">Remove</a>
				}
				else
				{
					@if (Model.Sorting == OwnershipSorting.Bought)
					{
						<button asp-controller="App" asp-action="Download" type="submit" class="w-100 btn btn-lg btn-primary mb-3">DOWNLOAD</button>
					}
					else
					{
						<h3 class="text-white">USD @String.Format("{0:0.00}", Model.Price)</h3>
						<button asp-route-id="@Model.Id" asp-controller="App" asp-action="Buy" type="submit" class="w-100 btn btn-lg btn-primary mb-3" style="font-size: 20px;">BUY NOW</button>

						if (Model.Sorting == OwnershipSorting.Wishlisted)
						{
							<button asp-route-id="@Model.Id" asp-controller="App" asp-action="RemoveFromWishlist" type="submit" class="w-100 btn btn-lg bg-black  text-light">REMOVE FROM WISHLIST</button>
						}
						else
						{
							<button asp-route-id="@Model.Id" asp-controller="App" asp-action="AddToWishlist" type="submit" class="w-100 btn btn-lg bg-black text-light">ADD TO WISHLIST</button>
						}
					}
				}
			</form>
			<section class="bg-dark text-white" ">
				<p class="bg-dark text-white mb-3" style="object-fit: cover; border:white; border-bottom:solid; border-top:solid; border-width:1.5px;">
					@Model.Description
				</p>
				<p class="border-bottom">Developer: @Model.Developer</p>
				<p class="border-bottom">Publisher: @Model.Publisher</p>
				<p class="border-bottom">Release Date: @Model.ReleaseDate.ToString("MM/dd/yy")</p>
				<p class="border-bottom">
					Genres:<br>
					@String.Join(", ", genreNames)
				</p>
			</section>
		</div>
	</div>
</div>
