@model GamesDetailsListModel

@{
	ViewData["Title"] = "Details | " + @Model.Name;
}

<div class="container col-sm-12 offset-lg-2 col-lg-8 offset-xl-3 col-xl-6">
	<h2>@Model.Name</h2>
	<div class="row" style="float-right">
		<img src=@Model.ImageUrl class="card-img-top" alt="">
		<div class="bg-white">
			<p>
				@Model.Description
			</p>
		</div>
	</div>
	<div style="float-left">
		<p>
			@Model.Developer
		</p>
		<p>
			@Model.Publisher
		</p>
	</div>
</div>